.title {
  width : 100%;
  height : 50px;
  background-color : #FF9800;
  display : flex;
  justify-content : center;
  align-items : center;
}

.selectChannel {
  width : 20%;
  height : 30px;
  border : 1px solid #FB8C00;
  border-radius : 3px;
  margin-left : 3%;
}

.btnChange {
  border : none;
  background-color : #FB8C00;
  width : 13%;
  height : 30px;
  border-radius : 3px;
  cursor:pointer;
  transition : all.5s;
}

.btnChange:hover {
  background-color : #F57C00;
}

.chatBox {
  width : 100%;
  height : 550px;
  overflow-y : scroll;
  margin-top : 10px;
  position:relative;
}

.myChat {
  padding : 5px;
  float:right;
  clear : both;
  background-color : #FFB74D;
  border-radius : 3px;
  height: 30px;
  margin-bottom : 10px;
  display : flex;
  align-items : center;
  justify-content : center;
}

.otherChat {
  padding : 5px;
  float: left;
  clear : both;
  background-color : #4CAF50;
  border-radius : 3px;
  height: 30px;
  margin-bottom : 10px;
  display : flex;
  align-items : center;
  justify-content : center;
}

.whoChat {
  display : none;
  width : 50%;
  height : 30px;
  position : fixed;
  background-color : #F44336;
  top : 550px;
  left : 25%;
  color:white;
  justify-content : center;
  align-items : center;
  border-radius : 5px;
}

.systemChat {
  padding : 5px;
  float: left;
  width : 90%;
  margin-left:5%;
  clear : both;
  background-color : #616161;
  border-radius : 3px;
  height: 20px;
  color:white;
  margin-bottom : 10px;
  display : flex;
  align-items : center;
  justify-content : center;
}

.myImageChat {
  padding : 5px;
  float:right;
  clear : both;
  background-color : #FFB74D;
  border-radius : 3px;
  margin-bottom : 10px;
  display : flex;
  flex-direction : column;
}

.otherImageChat {
  padding : 10px;
  float: left;
  clear : both;
  background-color : #4CAF50;
  border-radius : 3px;
  margin-bottom : 10px;
  display : flex;
  flex-direction : column;
}

.inputBox {
  width : 100%;
  height : 30px;
  display : flex;
  justify-content : center;
  align-items : center;
}

.btnSend {
  border : none;
  background-color : #FF9800;
  width : 10%;
  height : 30px;
  border-radius : 3px;
  float : left;
}

.btn {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"] {
  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
